---
layout: default.njk
bodyClass: search
---

<section class="hero">
    Find the best vegetarian and vegan restaurants in Vermont
</section>

<form class="form-search" action="">
    <input type="text" id="text-search" aria-label="Search Restaurants">
    {% include "_includes/icons/search.svg" %}
</form>

<ul class="categories unstyled">
    {%- for cat in collections.categories -%}


        <li class="category match">

            <h3 class="category-name">
                {{cat.name | toTitleCase }}
            </h3>
            

            <ul class="restaurants unstyled">

                {%- for rest in cat.restaurants -%}

                    <li id="{{rest.url}}" class="restaurant match">
                        <a href="{{rest.url}}" class="restaurant-name">
                            {{rest.data.name}}
                        </a>
                        - 
                        <span class="text-muted">
                            {{rest.data.summary}}
                        </span>
                    </li>

                {%- endfor -%}

            </ul>
        </li>
        
    {%- endfor -%}
</ul>
