---
name: Search Restaunts
layout: default.njk
---

<form class="form-search" action="">
    <input type="text" id="text-search">
    {% include "_includes/icons/search.svg" %}
</form>

<ul class="restaurants">
    {%- for rest in collections.restaurants -%}


        <li id="{{rest.url}}" class="restaurant">

            <a href="{{rest.url}}">
                {{rest.data.name}}
            </a>
            - 
            {{rest.data.summary}}
        </li>

        
    {%- endfor -%}
</ul>

