html,
body,
.content {
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
}


/* site layout */

.content {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.header nav ul li {
    padding: 5px;
    margin: 5px;
}


/* detail page links */

ul.rest-links {
    list-style: none;
    padding: 0;
    display: flex;
}

ul.rest-links li:first-child {
    margin-left: 0;
}

ul.rest-links li {
    margin: 2px 5px;
}

ul.rest-links li a {
    color: #373767;
}

ul.rest-links li a:hover,
ul.rest-links li a:focus {
    color: #46469b;
}

ul.rest-links a svg {
    height: 25px;
}


/* search form */

body.search .form-search svg {
    height: 17px;
    margin-left: -24px;
}

form.form-search {
    display: flex;
    align-items: center;
}

.form-search input {
    border-radius: 5px;
    height: 22px;
    width: 80%;
}


/* search result */


/* default to hidden */

.restaurant {
    display: none;
}

.restaurant.match {
    display: block;
}