html * {
    box-sizing: border-box;
}

html,
body,
.content {
    min-height: 100vh;
    margin: 0;
}


/* site layout */

.content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "head head head" ". main ." "foot foot foot";
}

header.header {
    grid-area: head;
}

main.main {
    grid-area: main;
}

footer.footer {
    grid-area: foot;
}

.header nav ul {
    display: flex;
}

.header nav ul li {
    padding: 5px;
    margin: 5px;
}

header.header,
main.main {
    padding: 0 15px;
}

section.hero {
    margin: 25px 0;
    font-style: italic;
    text-align: center;
    font-size: 1.1em;
}


/* header */

header.header {
    text-align: center;
}

.page-title {
    text-decoration: none;
    color: #0e710e;
}

.page-title svg {
    height: 30px;
}

span.state {
    margin-right: 8px;
    padding: 5px;
    color: #eeeae0;
    background: #0e710e;
    border-radius: 4px;
    padding-right: 10px;
    transition: color .4s ease, background .4s ease;
}

span.veg {
    color: #0e710e;
    padding: 5px;
    transition: color .4s ease, background .4s ease
}

span.state-text {
    margin-left: -2px;
}

span.veg-text {
    margin-left: 5px;
}


/* colors */

.page-title:hover .state,
.page-title:focus .state {
    background: #298429;
}

.page-title:hover .veg,
.page-title:focus .veg {
    color: #298429;
}


/* footer */

footer.footer {
    text-align: center;
    padding: 10px;
    background: #ffffff4d;
}

.footer svg {
    height: 14px;
    margin-bottom: -2px;
    color: #0e710e;
}


/* theme */

body {
    background-color: #fdf8ec;
    background-image: url("/assets/images/noise.png");
}

svg {
    height: 20px;
}


/* typography */

body {
    font-family: 'Lato', sans-serif;
    color: #1b2019;
    font-size: 18px;
    line-height: 1.3em;
}

.text-muted {
    color: #2a3426;
}


/* utility */

ul.unstyled {
    list-style: none;
    padding-left: 0;
}

.d-flex-inline-center {
    display: inline-flex;
    align-items: center;
}


/* main page */

li.category {
    margin-bottom: 15px;
}

ul.restaurants {
    margin-top: 5px;
}

.restaurant {
    margin-bottom: 5px;
}

a.restaurant-name {
    font-weight: bold;
    color: #0e710e;
    transition: color .4s ease;
}

a.restaurant-name:hover,
a.restaurant-name:focus {
    color: #309430;
}


/* detail page links */

ul.rest-links {
    display: flex;
}

ul.rest-links li:first-child {
    margin-left: 0;
}

ul.rest-links li {
    margin: 2px 5px;
}

ul.rest-links li a {
    color: #0e710e;
    transition: color .4s ease
}

ul.rest-links li a:hover,
ul.rest-links li a:focus {
    color: #2a972a;
}

ul.rest-links svg {
    height: 35px;
}


/* search form */

body.search .form-search svg {
    height: 17px;
    margin-left: -24px;
}

form.form-search {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.form-search input {
    border-radius: 5px;
    height: 30px;
    width: 100%;
    background: #00000017;
    border: 1px solid #9da59c;
    font-size: 16px;
    padding-left: 7px;
}


/* search result */

.restaurant {
    display: none;
}

.restaurant.match {
    display: block;
}

li.category {
    display: none;
}

li.category.match {
    display: block;
}


/* no-js */

.no-js .form-search {
    display: none;
}


/* media queries */

@media (max-width: 400px) {
    .hide-sm {
        display: none;
    }
}

@media (min-width: 660px) {
    .content {
        grid-template-columns: 1fr 660px 1fr;
    }
}