html * {
    box-sizing: border-box;
}

html,
body,
.content {
    min-height: 100vh;
    margin: 0;
}


/* site layout */

.content {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header nav ul {
    display: flex;
}

.header nav ul li {
    padding: 5px;
    margin: 5px;
}

main.main {
    padding: 0 15px;
    max-width: 45rem;
    margin: 0 auto;
}

section.hero {
    margin-bottom: 30px;
}


/* typography */

body {
    font-family: 'Lato', sans-serif;
    color: rgb(22, 22, 22);
}

.text-muted {
    color: rgb(54, 54, 54);
}


/* utility */

ul.unstyled {
    list-style: none;
    padding-left: 0;
}


/* main page */

li.category {
    margin-bottom: 15px;
}

ul.restaurants {
    margin-top: 5px;
}

.restaurant {
    margin-bottom: 5px;
}


/* detail page links */

ul.rest-links {
    display: flex;
}

ul.rest-links li:first-child {
    margin-left: 0;
}

ul.rest-links li {
    margin: 2px 5px;
}

ul.rest-links li a {
    color: #373767;
}

ul.rest-links li a:hover,
ul.rest-links li a:focus {
    color: #46469b;
}

ul.rest-links a svg {
    height: 25px;
}


/* search form */

body.search .form-search svg {
    height: 17px;
    margin-left: -24px;
}

form.form-search {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.form-search input {
    border-radius: 5px;
    height: 31px;
    width: 100%;
}


/* search result */

.restaurant {
    display: none;
}

.restaurant.match {
    display: block;
}

li.category {
    display: none;
}

li.category.match {
    display: block;
}