<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{name}} | VT VEG</title>

    <style>
        {% include "_includes/styles/styles.css" %}
    </style>
</head>
<body>
    <div class="content">
        
        <header class="header">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/category">Category</a></li>
                    <li><a href="/search">Search</a></li>
                </ul>
            </nav>
        </header>

        <main class="main">
            <h1>{{name}}</h1>

            {# All Content Injected Here #}
            {{content | safe}}

        </main>

        <footer class="footer" >
            Built with ❤ in VT
        </footer>
        
    
    
    </div>
    
</body>
</html>
