<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% set page_title %}{% if name %} {{name}} |  {% endif %} VT Veg{% endset %}
    {% set base_url = "https://vtveg.com/" %}
    {% set summary = "Find the best vegetarian and vegan restaurants in Vermont" %}

    {# Favicons #}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    {# Theme color for browser chrome (chrome android) #}
    <meta name="theme-color" content="#0e710e">

    {# standard meta tags #}
    <title>{{page_title}}</title>
    <meta name="title" content="{{page_title}}">
    <meta name="description" content="{{summary}}">
    <link rel="canonical" href="{{base_url}}{{page.url}}">

    {# Open Graph / Facebook #}
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{base_url}}{{page.url}}">
    <meta property="og:title" content="{{page_title}}">
    <meta property="og:description" content="{{summary}}">
    <meta property="og:image" content="/assets/images/thumbnail.png">

    {# Twitter #}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{page_title}}">
    <meta name="twitter:description" content="{{summary}}">
    <meta name="twitter:image" content="/assets/images/thumbnail.png">

    <!-- capture the CSS content as a Nunjucks variable -->
    {% set css %}
        {% include "styles/styles.css" %}
        {% include "styles/fonts.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
        {{ css | cssmin | safe }}
    </style>


</head>
<body class="no-js {{bodyClass}}" >

 <!-- capture the JS content as a Nunjucks variable -->
    {% set js %}{% include "scripts/init.js" %}{% endset %}
    <!-- feed it through our jsmin filter to minify -->
    <script>{{ js | jsmin | safe }}</script>

    <div class="content">
        
        <header class="header">
           <a href="/" class="page-title"class="page-title">
                {# Site Title / Brand Logo #}
                <h1 class="d-flex-inline-center">
                    <span class="state d-flex-inline-center">
                        {% include "_includes/icons/vt.svg" %}
                        <span class="state-text">VT</span> 
                    </span>
                    <span class="veg d-flex-inline-center">
                        {% include "_includes/icons/leaf.svg" %}
                        <span class="veg-text">
                            Veg<span class="hide-sm">atarian</span>
                        </span>
                    </span>
                </h1>

            </a>
        </header>

        <main class="main">
            {% if name %}
                <h2>{{name}}</h1>
            {% endif %}
            

            {# All Content Injected Here #}
            {{content | safe}}

        </main>

        <footer class="footer" >
            Built with  {% include "_includes/icons/heart.svg" %} in VT
        </footer>
        
    
    
    </div>
    

    <!-- capture the JS content as a Nunjucks variable -->
    {% set js %}
        
        {% if bodyClass and 'search' in bodyClass %}
            {% include "scripts/search.js" %}
        {% endif %}

    {% endset %}
    <!-- feed it through our jsmin filter to minify -->
    <script>
        {{ js | jsmin | safe }}
    </script>
</body>
</html>
