<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{name}} | VT VEG</title>


    <!-- capture the CSS content as a Nunjucks variable -->
    {% set css %}
        {% include "styles/styles.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
        {{ css | cssmin | safe }}
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

</head>
<body class="no-js {{bodyClass}}" >
    <div class="content">
        
        <header class="header">
           <a href="/" class="page-title"class="page-title">
                {# Site Title / Brand Logo #}
                <h1 class="d-flex-inline-center">
                    <span class="state d-flex-inline-center">
                        {% include "_includes/icons/vt.svg" %}
                        <span class="state-text">VT</span> 
                    </span>
                    <span class="veg d-flex-inline-center">
                        {% include "_includes/icons/leaf.svg" %}
                        <span class="veg-text">Vegetarian</span>
                    </span>
                </h1>

            </a>
        </header>

        <main class="main">
            <h1>{{name}}</h1>

            {# All Content Injected Here #}
            {{content | safe}}

        </main>

        <footer class="footer" >
            Built with  {% include "_includes/icons/heart.svg" %} in VT
        </footer>
        
    
    
    </div>
    

    <!-- capture the JS content as a Nunjucks variable -->
    {% set js %}
        
        {% include "scripts/site.js" %}
        
        {% if bodyClass and 'search' in bodyClass %}
            {% include "scripts/search.js" %}
        {% endif %}

    {% endset %}
    <!-- feed it through our jsmin filter to minify -->
    <script>
        {{ js | jsmin | safe }}
    </script>
</body>
</html>
