---
layout: default.njk
---



<p>
    <b>Category</b> {{category}}
</p>

<ul class="rest-links unstyled">

    {% if site %}
        <li><a href="{{site}}">
            {% include "_includes/icons/globe.svg" %}
        </a></li>
    {% endif %}

    {% if facebook %}
        <li><a href="{{facebook}}">
            {% include "_includes/icons/facebook.svg" %}
        </a></li>
    {% endif %}

    {% if twitter %}
        <li><a href="{{twitter}}">
            {% include "_includes/icons/twitter.svg" %}
        </a></li>
    {% endif %}

    {% if instagram %}
        <li><a href="{{instagram}}">
            {% include "_includes/icons/instagram.svg" %}
        </a></li>
    {% endif %}

</ul>


{# All Content Injected Here #}
{{ content | safe }}
